* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 300px;
  max-width: 700px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 40px auto 60px auto;
}

.subject_button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5c5cf0;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.5em;
  min-width: 300px;
  max-width: 700px;
  min-height: 100px;
  margin: 20px auto;
}
